{%extends 'core/base.html'%}
{%block title%}
    About
{%endblock%}

{%block content%}
  
<html>
<head>
<title> About us </title>
</head>
<body>
<h1><center> <b>ABOUT US</b> </center></h1>
<p style="color:orange;font-size:30px;text-align:center;">
Hey there, <b>AGROCART </b>Welcome's you. If you are a farmer in <b>Agrocart</b> you can sell your yield and you can buy other's yield. This is an amazing and trusted platform in which there is no intermediater to sell your yield.If you are a customer you can  buy farmers yield(Eg:Fruits,Vegetables) at a considerable price and fresh.</p>
<br>
<hr>
<br>
<h1><center><b>TERMS & CONDITIONS</b> </center> </h1>
<p style="color:brown;font-size:20px;">If you want to become an <b>Agrocart</b> farmer contact us <b>@04252-2656/agrocart20@gmail.com</b>. We will check some terms and conditions as per our norms and we will provide you the license to sell your yield.
<br>
<p style="color:brown;font-size:20px;">
If you give any fake products/information you should pay <b>fine</b> based on norms.
<br>
<p style="color:brown;font-size:20px;">
If you are a customer and order's a product for fake then you should pay <b>fine</b> based on norms.
</p>
</p>
</p>
</body>
</html>
{%endblock%}